#contacts{
    background-color: #242423;
    width: 100%;
    height: 110vh;
    margin: 0;
}

#contacts h1{
    padding-top: 90px;
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    color: #f9f9f9;
    letter-spacing: 5px;
    transform: translate(5%, 0);
}

.icon i{
    background-color:white;
    font-size: 20px;
    color:brown;
    padding: 10px;
    border-radius: 50%;
} 

.contact span{
    font-family: sans-serif;
    font-size: 1.2em;
}

.contact{
    transform: translateY(-10%,0);
    width: 40%;
    height: 60%;
    font-size: 1.25em;
    font-family: monospace;
}

.details span{
    color: #f0191c;
    font:bolder;
}

.details{
    padding: 30px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 10px;
    justify-content: space-around; 
    display: flex;
    align-items: center;
}

.inputform{
    background-color: rgb(13, 13, 13);
    width: 30%;
    height: 40%;
    padding: 40px;
    border-radius: 50px;
    font-family: monospace;
    font-size: 1.5em;
    box-shadow: #a30e0e 0px 0px 50px; 
}

.inputform h2{
    font-size: 30px;
    font-family: sans-serif;
    color: #f0191c;
}

.inputform .inputtext{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

input{
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #f0191c;
    
} 

.inputtext button{
    text-align: center;
    transform: translateX(50%);
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    font:bold;
    border-radius: 100px;
    background-color: #f0191c;
    width: 50%;
}

#fullname{
    display: flex;
    justify-content: space-around;
}

#email{
    transform: translateX(3%); 
}

#email input{
    width: 90%;
}

textarea{
    width: 90%;
    height: 80px;
    border: 2px solid #f0191c;
    padding-top: 15px;
}

#message{
    transform: translateX(3%);
}