#edu{
    background-color: #242423;
    padding: 1px;
    width: 100%;
    height: 100vh;
}

#edu h1{
    padding-top: 40px;
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    color: #f9f9f9;
    letter-spacing: 5px;
    transform: translate(5%, 0);
}

#section3{
    padding-right: 100px;
}

#section3 span{
    padding: 30px;
    color: #ae1313;
    text-shadow: none;
}


.education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 10px;
    justify-content: space-around; 
    display: flex;
    align-items: center;
    font-size: 1.5em;
    width: 80%;
    transform: translate(12%, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 




.school{
    padding: 5px 5px;
    background-color: #494947;
    margin: 50px;
    color: #ffffff;
    border-radius: 50px;
    box-shadow: #710707 0px 0px 25px;
    transition: 0.4s ease-in-out;
    border: #710707 solid 2px;
}

.school:hover{
    transform: scale(1.1);
    box-shadow: #a30e0e 0px 0px 50px;
}

.college{
    padding: 5px 5px;
    background-color: #494947;
    margin: 50px;
    color: #ffffff;
    border-radius: 50px;
    box-shadow: #710707 0px 0px 25px;
    transition: 0.4s ease-in-out;
    border: #710707 solid 2px;
}

.college:hover{
    transform: scale(1.1);
    box-shadow: #a30e0e 0px 0px 50px;
}

.marksheet button{
    padding: 15px;
    border-radius: 30px;
}

.grade button{
    padding: 15px;
    border-radius: 30px;
}

.dot{
    transition: 0.4s ease-in-out;
}

.dot:hover{
    transform: scale(1.15);
}

